@font-face {
  font-family: Madras;
  font-weight: 100;
  src: url(fonts/MadrasExtraLight.otf);
}

@font-face {
  font-family: Madras;
  font-weight: 400;
  src: url(fonts/MadrasRegular.otf);
}

@font-face {
  font-family: Madras;
  font-weight: 600;
  src: url(fonts/MadrasBold.otf);
}

@font-face {
  font-family: Madras;
  font-weight: 700;
  src: url(fonts/MadrasBlack.otf);
}